language: php

matrix:
  include:
    - php: '7.1'
    - php: '7.2'
    - php: '7.3'
      env: FULL_TEST='true'
    - php: 7.4snapshot
    - php: nightly
  fast_finish: true
  allow_failures:
  - php: 7.4snapshot
  - php: nightly

before_script:
 - if php -v | grep -q 'Xdebug'; then phpenv config-rm xdebug.ini; fi
 - composer install --ignore-platform-reqs

script:
  - |
    if [ "$FULL_TEST" == "true" ]; then
      composer run-script test
    else
      composer run-script ut
    fi
