<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/7.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         bootstrap="vendor/autoload.php"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="InvertColor">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
